.app-listing
  .g-app-listing__content
    .g-app-listing__maininfo
      %h3.app-listing__name
        %a.app-link(href="/application/") App Name
      .app-listing__description
        Ipsum ingeniis ex offendit et aliqua possumus singulis quo voluptate sunt 
        possumus, te sed exercitation, senserit tamen a arbitror concursionibus sed et 
        laboris relinqueret, id elit probant ex ex sunt legam de cupidatat. Offendit 
        esse proident, velit occaecat est quae amet.
    .g-app-listing__moreinfo
      .app-listing__icon
        %img(src="/images/appicon-placer.png")
      .app-listing__rating
        <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
      .app-listing__tags 
        Category:
        %ul.taglist
          %li.taglist__tag Tourism
          %li.taglist__tag Travel
          %li.taglist__tag Food & Drink