
%h2.app__name
  Application Name
.app__icon
  %img(src="/images/appicon-placer.png")
.app__tags
  %ul.taglist
    %li.taglist__tag
      Tourism
    %li.taglist__tag
      English
    %li.taglist__tag
      Restricted mobility
Category
.app__short-description
  Nam id summis ingeniis, tempor reprehenderit se vidisse. Nam malis qui ipsum. 
  Nam tempor illustriora.
.app__long-description
  Fabulas irure officia se quem litteris o fore magna id irure ullamco mentitum 
  qui eiusmod malis illum qui multos. Occaecat legam e officia exquisitaque ut ad 
  e cillum nostrud. E ut efflorescere ut ut cillum nulla an arbitror aut iudicem e 
  commodo se ipsum expetendis ita firmissimum, consequat a deserunt a iis 
  mandaremus sempiternum, ea quo anim elit fore, se proident do incurreret. 
  Voluptate o dolore. Eu labore ea dolor, qui culpa quamquam comprehenderit o 
  laborum de legam doctrina de dolore e nescius a amet. Ex veniam est cillum, 
  aliquip despicationes ut senserit ex elit occaecat se quae aliqua, qui aliqua ad 
  varias.
.app__publisher
  App Publisher Inc Oy Ab
.app__languages
  %ul.language-list
    %li.language-list__language
      Finnish
    %li.language-list__language
      English
    %li.language-list__language
      Russian
.app__platforms
  %ul.platform-list
    %li.platform-list__platform.platform-list__platform--ios
      IOS
    %li.platform-list__platform.platform-list__platform--android
      Android
    %li.platform-list__platform.platform-list__platform--windows
      Windows
.app__website
  Website
.app__support
  Support-website
.app__rating
  Rating: ******
.app__screenshots
  %ul.screenshot-list
    %li.screenshot-list__slide
      [screenshot image]
    %li.screenshot-list__slide
      [screenshot image]
    %li.screenshot-list__slide
      [screenshot image]
.app__version
  2.2.2.0
.updated
  31.1.2014
(reviews)
(filesize)
(downloads)
** related **
** share **