%h1 Categories
.categories
  .category
    .category--icon
      [Tourism Icon]
    .category--name
      Tourism
    .category--count
      20
  .category
    .category--icon
      [Tourism Icon]
    .category--name
      Tourism
    .category--count
      20
  .category
    .category--icon
      [Tourism Icon]
    .category--name
      Tourism
    .category--count
      20
  .category
    .category--icon
      [Tourism Icon]
    .category--name
      Tourism
    .category--count
      20
  .category
    .category--icon
      [Tourism Icon]
    .category--name
      Tourism
    .category--count
      20