%h1 Apps List
.apps-list
  .g-apps-list
    .g-app-listing=render "app"
    .g-app-listing=render "app"
    .g-app-listing=render "app"
    .g-app-listing=render "app"
    .g-app-listing=render "app"
.apps-filter=render "filtering"